<h1>Fax upload test</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'fax_upload' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

    <label for="1">Fax ID</label>
    <input type="text" name="fax_phaxio_id" id="1" />
    <label for="2">Fax Cost</label>
    <input type="text" name="fax_cost" id="2" />

    <label for="4">Fax Test image</label>
	<input type="file" name="image" accept="image/*">
    
<input type="submit" value="Save" />
</form>